.DS_Store
__pycache__/
*.pyc
node_modules
frontend/mobile/src/config.json
.env

# Ignore virtual environment folder
backend/venv/

# Ignore other unnecessary files and folders
node_modules/
*.log
*.bak
*.swp